*
{
    margin:40px
}

h1
{
    color: red;
    font-size: 50px;
    font-family: center;
}

img
{
    width: 250px;
    height: 250px;
}

p
{
    background-color: greenyellow;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}